body{
    background-color: #3399ff;
}

img{
    width: 60%;
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 20px; 
    text-align: center;
    display: block;
    margin: 0 auto;
}

p{
    background-color:white;  
}

h1{
    text-align: center;
    background-color:white;
}
